*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blueviolet;
  ul{
    list-style: none;
    display: flex;
    gap: 10px;
  }
  a {
    text-decoration: none;
    color: black;
    &:hover{
      color: antiquewhite;
    }
  }
}